<h1> Search page, hopefully </h1>
<form method="post" action="/search">
  <div>
    <label>Search:</label>
    <input type="text" name="street">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
    <script>
      var ticketData = [<%= @array.map {|x| "{location: new google.maps.LatLng(#{x.latitude}, #{x.longitude}), weight: #{x.tickets_count}}"}.join(",") if @array %>]
      var options = {maxIntensity: 5, radius: 10, opacity: .5}
    </script>
    <script src="/javascript/google_maps.js"></script>
    
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
