html, body, #map-canvas {
  height: 97%;
  margin: 0px;
  padding: 0px
};

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.input-group {
  margin-bottom: 3px
}

.navbar {
  margin-bottom: 3px !important
}

.panel {
  font-size: 2.5em;
  margin: 0 auto;
  max-width: 600px
}