<head>
  <title>TPT - Stats</title>
</head>

<body>

<div class="panel panel-primary">
  <div class="panel-heading">2014</div>
  <div class="panel-body">454,925 tickets</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Most expensive ticket!</div>
  <div class="panel-body">$450 (2132 tickets)</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Total revenue from all tickets</div>
  <div class="panel-body">$19,661,335</div>
</div>

<!-- <% expensive = Ticket.order(cost: :desc).limit(1).first.cost %> -->
<!-- <p><%= expensive %></p> -->
<!-- <p>and there were <%= Ticket.where(cost: expensive).count %></p> -->

<!-- <%= Ticket.count %> -->

<!-- <%= Ticket.sum(:cost) %> -->

</body>
