<body>

<div>
<h1>Found some stats yo!</h1>
<h2>For 500,000 tickets 2014</h2>

<p>Most expensive ticket!</p>
<p>450</p>
<p>and there were 2132</p>
<!-- <% expensive = Ticket.order(cost: :desc).limit(1).first.cost %> -->
<!-- <p><%= expensive %></p> -->
<!-- <p>and there were <%= Ticket.where(cost: expensive).count %></p> -->

<p>Total number of tickets</p>
<p>454925</p>
<!-- <%= Ticket.count %> -->

<p>Total revenue from all tickets</p>
<p>19661335</p>
<!-- <%= Ticket.sum(:cost) %> -->
</div>

</body>



