<head>
  <title>TPT - Stats</title>
</head>

<body>

<div class="panel panel-primary">
  <div class="panel-heading">2014</div>
  <div class="panel-body">2,484,983 tickets</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Most expensive ticket!</div>
  <div class="panel-body">$450 (11,986 tickets)</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Total revenue from all tickets</div>
  <div class="panel-body">$108,987,340</div>
</div>

</body>
